:root {
    --background-color: #1a1a1a;
    --text-color: #f2f2f2;
    --accent-color: #0056b3;
    --btn-background-color: #0084ff;
    --btn-text-color: #ffffff;
    --section-background-color: #262626;
    --font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-stack);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

.main-navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--section-background-color);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
}

.main-navigation2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-item {
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    cursor: pointer;
}

.nav-item:hover, .nav-item:focus {
    background-color: var(--accent-color);
    color: var(--btn-text-color);
}

.section-company,
.section-generic {
    padding: 2rem;
    background-color: var(--section-background-color);
    margin-bottom: 1rem;
}
.section-generic-mobile {
    padding: 2rem;
    background-color: var(--section-background-color);
    margin-bottom: 1rem;
}

.section-title {
    color: var(--accent-color);
    margin-bottom: 1rem;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.content-container img {
    max-width: 100%;
    height: auto;
    border: 3px solid var(--accent-color);
}

.text-content {
    flex: 1;
    text-align: justify;
}

.btn-action {
    padding: 0.5rem 1rem;
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-action:hover {
    filter: brightness(90%);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .main-navigation {
        flex-direction: column;
        padding: 0;

    }

    .nav-item {
        margin-bottom: 0.5rem;
        text-align: center;
        width: 100%;
    }
}

    .content-container {
        flex-direction: column;
    }

    .btn-action {
        align-self: center;
        margin-top: 1rem;
    }

.section-generic-mobile {
    padding: 2rem;
    background-color: var(--section-background-color);
    margin-bottom: 15rem;
}