

body {
    margin: 0;
    padding: 0;
}
* {
    background: black;
    color: #b3b3b3;
}






.hero{
    font-size: 3em;
}
.hero1{
    color: #b3b3b3;
    transition: font-size 0.3s;
    cursor: pointer;
}
.hero2{
    color: #b3b3b3;
    transition: font-size 0.3s;
    cursor: pointer;
}
.hero3{
    color: #b3b3b3;
    transition: font-size 0.3s;
    cursor: pointer;
}
.hero4{
    color: #b3b3b3;
    transition: font-size 0.3s;
    cursor: pointer;
}
.hero5{
    color: #b3b3b3;
    transition: font-size 0.3s;
    cursor: pointer;
}

.hero1:hover {
    color: #ffffff;
    font-size: 2em;
}
.hero2:hover {
    color: #ffffff;
    font-size: 2em;
}
.hero3:hover {
    color: #ffffff;
    font-size: 2em;
}
.hero4:hover {
    color: #ffffff;
    font-size: 2em;
}
.hero5:hover {
    color: #ffffff;
    font-size: 2em;
}








.scroll-container {
    background-color: #333;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px;
    margin-top: 30em;
    margin-bottom: 30em;
}
/* controls titles of each section except company */
.sub-titles {
    font-size: 5em;
    background-color: rgb(0,0,0,0 );
    margin: 0;
    margin-left: 2vw;
}

.scroll-container img {
    padding: 5px;
    max-height: 10em;
    margin-top: 2em;
    background-color: #404040;
}
.projectArticle{
    background-color: #404040;
    border-color: #000;
}



.companyContainer {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    background-color: #011a2c;
    margin-bottom: 30em;
}
.companyTopArticle {
    display: flex;
    background-color: #011a2c;
    margin: 0;
}

.subTitlesCompany{
    font-size: 3em;
    background-color: #011a2c;
    margin-left: 10vw;
    margin-top: 3vh;
    margin-bottom: 0;
}

.companyArticle {
    display: flex;
    background-color: #011a2c;
    margin-top: 0;
    margin-bottom: 0;
}

.companyArticle img{
    max-width: 15vw;
    height: auto;
    background-color: #011a2c;
    margin-left: 30vw;
    margin-bottom: 5em;

}

.companyTitle {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    background-color: #011a2c;
    font-size: 5em;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-bottom: 0;
}

.paragraphAboutCompany{
    background-color: #011a2c;
    margin-left: 2vw;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;

}



.gitHubContainer{
    background-color: #0a2c01;
    margin-bottom: 30em;
}

.gitHubContainer img{
    max-width: 30%;

}

.paragraphAboutGitHub{
    background-color: #0a2c01;
    flex-grow: 1;
    text-align: justify;
}

.githubBtn {
    background-color: yellow;
    color: #000;
    font-size: 3em;
    font-family: Kanit;
    font-weight: bold;
    border-radius: 25px;
}




.curriculumVitaeContainer{
    background-color: #2c0101;
    margin-bottom: 30em;
}

.paragraphAboutCV{
    background-color: #2c0101;
    flex-grow: 1;
    text-align: justify;
}

.cvBtn {
    background-color: yellow;
    color: #000;
    font-size: 3em;
    font-family: Kanit;
    font-weight: bold;
    border-radius: 25px;
}




.aboutMeContainer{
    background-color: #2c2801;
    margin-bottom: 30em;
}

.aboutMeContainer img {
    max-width: 30%;

}

.paragraphAboutMe{
    background-color: #2c2801;
    flex-grow: 1;
    text-align: justify;
}






@media (max-width: 768px){

}