


* {
    background: black;
    color: #b3b3b3;
}

.hero{

    font-size: 2em;
}

.scroll-container {
    background-color: #333;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px;
    margin-top: 30em;
    margin-bottom: 30em;
}

.sub-titles {
    border-color:yellow;
    border-radius: 50px;
    margin-bottom: 1em;

}
.scroll-container img {
    padding: 5px;
    max-height: 10em;

}

.companyContainer {
    display: flex;
    align-items: flex-start;
    background-color: #011a2c;
    margin-bottom: 30em;
}

.companyContainer img{
    max-width: 20em;
    height: auto;
    margin-right: 20px;
}
.company-name{
    background-color: #011a2c;

}
.paragraphAboutCompany{
    background-color: #011a2c;
    flex-grow: 1;
    text-align: justify;
}

.gitHubContainer{
    background-color: #0a2c01;
}

.gitHubContainer img{
    max-width: 30%;

}

.paragraphAboutGitHub{
    background-color: #0a2c01;
    flex-grow: 1;
    text-align: justify;
}

.curruculumVitaeContainer{
    background-color: #2c0101;
}

.paragraphAboutCV{
    background-color: #2c0101;
    flex-grow: 1;
    text-align: justify;
}

.aboutMeContainer{
    background-color: #2c2801;
}

.aboutMeContainer img {
    max-width: 30%;

}

.paragraphAboutMe{
    background-color: #2c2801;
    flex-grow: 1;
    text-align: justify;
}

.sub-titles{
    background: rgb(0,0,0,0);
    font-size: 2em;
}




@media (max-width: 768px){

}